/* .container {
    margin-bottom: 30px;
}

.content {
    margin-bottom: 10px;
}

.input {
    width: 294px;
    height: 20px;
    border-radius: 4px;
} */

.input {
    width: 300px;
    height: 35px;
    background-color: silver;
margin-top: 10px;
}